/* General Styling */

body {
    font-family: Roboto, sans-serif;
    margin: 0;
}

h1 {
    font-size: 2.7em;
    color: #e9f0f7;
    text-transform: uppercase;
    word-break: normal;
}

h2 {
    color: #cd1719;
    font-size: 2em;
    margin-top: 1em;
}

h1, h2, h3, q {
    font-family: Arvo, sans-serif;
}

ul {
    list-style-type: none;
}


img{
    max-width: 100%;
}

/* Link Styling */

a {
    background:
       linear-gradient(
         210deg,
         transparent 5px
       );
      background-repeat: repeat-x;
      background-size: 100%;
    color: #000;
    padding: 0.5em;
    text-decoration: none;
  }

a:hover {
    background:
       linear-gradient(
        210deg,
         #e9f0f7 5px,
         transparent
       );
  }



/* Formular Styling */
form {
    background-color: #e9f0f7;
    width: 100%; /* Breite */
    padding: 1em;
    border: 1px solid #e9f0f7;
  
}

label {
    float:left;
    width: 12em;
}

legend {
    font-size: 1.5em;
}

input {
    
    width: 13em;
    border-bottom-color: #064b7b;
    border-bottom-style: dashed;
    border-top-style: none;
    border-right-style: none;
    border-left-style: none;
}


textarea {
  width: 13em;
  border: 2px dashed #064b7b;
  margin-top: 1em;
}

fieldset {
    font-family: Arvo, sans-serif;
    color: #064b7b;
    border: 0;

}

fieldset > * {
    margin-bottom: 1em;
}

button {
    background: #cd1719;
    color: white;
    border: 0em;
    padding: 1em;
    font-weight: 700;
    
}
/* List Styling */

    
dt {
    color: #064b7b;
    font-family: 'Roboto-Bold', sans-serif;
}

dl > * {
    margin: 0.8em;  
}
/* not-color-changing h1 */
.Black {
    color: black;
}

/* Menu Styling */
.Menu {
    background-color: #064a7b60;
    z-index: 1000;
    position: absolute;
    margin: 0;
    padding:  5% 0 5% 0;
    width: 100%;
    height: auto;
    top: 0;
}

.Menu > a {
    
font-family: Arvo, sans-serif;
color: white;
padding: 0.5em;
font-size: 0.7em;
}

/* Header Styling */
.Header > img {
    width: 100%;
    height: 500px;
    object-fit: cover;
    object-position: 80% 20%;
    position: right;
    display: block;
    margin: 0;
    z-index: -100;
}

/* Content Styling */
.Content {
    margin: 2em;
    margin-top: -10em;
    height: 100%;
}

/* Content in Blog Articles Styling */
.ContentBlog {
    margin: 3em;
    height: 100%;
    margin-top: 17em;
}

.subheader {
    color: #cd1719;
    font-size: 2em;
    margin-top: -0.2em;
}

.Quote  {
    font-size: 1.5em;
    margin: 0.2em;
    padding: 0.3em;
    position: relative;
    border-right-style: solid;
    border-right-width: 0.15em;
    border-right-color: red;
    border-left-style: solid;
    border-left-width: 0.15em;
    border-left-color: #064b7b;
}

/* Footer Styling */
.FooterLinks {
   background-image: url(img/footer_spitz.png);
   background-repeat: no-repeat;
   background-size: cover;
   background-position: center center;
   height: 15em;
   width: 100%;
}

.FooterLinks  > a{
    display: flex;
    float: left;
    margin-top: 23em;
    justify-content: center;
    color: white;
    font-size:0.6em;
}

/* Hier kommen die Mediaqueries */

 @media(min-width: 450px) {
    

    h2 {
      font-size: 2em;    
    }
    .subheader {
       font-size: 2em;
        padding-left: 3em;
        margin-top: -0.6em;
    }

        /* List Styling */
dd {
    padding: 0% 5%;
    width: 75%
}
    
dt {
    float: left;
    padding: 0 1%;
    width: 20%;
    margin-top: 0;
    color: #064b7b;
    font-family: 'Roboto-Bold', sans-serif;
}

dl > * {
    margin: 0.8em;  
}

label {
    width: 8em;
}

input {
    width: 20em;
}

textarea {
 width: 20em;
}

@media(min-width: 600px) {
    .Menu > a {
        color: white;
        padding: 2em;
        font-size: 1em;
        background-color: none;
    }

    .Menu {
        background-color: transparent;
        padding: 2%;
    }

    .FooterLinks  > a{
        display: flex;
        float: left;
        margin-top: 12em;
        margin-left: 3em;
        justify-content: center;
        color: white;
        font-size:1em;
    }
}
@media(min-width: 1000px) {
   


    .Content {
        margin: 3em;
        margin-top: -15em;
    }

    h1 {
        font-size: 4em;
        color: black;
    }

    .subheader {
        color: #cd1719;
        font-size: 3.5rem;
        padding-left: 4.5em;
        margin-top: -0.6em;
    }
    .Quote {
        font-size: 2.5em;
        margin: 0.3em;
        padding: 0.5em;
    }
}

@media(min-width: 1350px) {
   
    h1 {
        font-size: 5em;
        color: black;
    }

    .Menu > a {
        color: white;
        font-size: 1.5em;
    }

    .Menu {
        background-color:#064a7b9f;
    }
    .subheader {
        color: #cd1719;
        font-size: 4rem;
        padding-left: 4.5em;
        margin-top: -0.6em;
    }
}
 /* roboto-regular - latin */
@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    src: url('fonts/roboto-v20-latin-regular.eot'); /* IE9 Compat Modes */
    src: local('Roboto'), local('Roboto-Regular'),
         url('fonts/roboto-v20-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('fonts/roboto-v20-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
         url('fonts/roboto-v20-latin-regular.woff') format('woff'), /* Modern Browsers */
         url('fonts/roboto-v20-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
         url('fonts/roboto-v20-latin-regular.svg#Roboto') format('svg'); /* Legacy iOS */
  }
  /* roboto-italic - latin */
  @font-face {
    font-family: 'Roboto';
    font-style: italic;
    font-weight: 400;
    src: url('fonts/roboto-v20-latin-italic.eot'); /* IE9 Compat Modes */
    src: local('Roboto Italic'), local('Roboto-Italic'),
         url('fonts/roboto-v20-latin-italic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('fonts/roboto-v20-latin-italic.woff2') format('woff2'), /* Super Modern Browsers */
         url('fonts/roboto-v20-latin-italic.woff') format('woff'), /* Modern Browsers */
         url('fonts/roboto-v20-latin-italic.ttf') format('truetype'), /* Safari, Android, iOS */
         url('fonts/roboto-v20-latin-italic.svg#Roboto') format('svg'); /* Legacy iOS */
  }
  /* roboto-700 - latin */
  @font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    src: url('fonts/roboto-v20-latin-700.eot'); /* IE9 Compat Modes */
    src: local('Roboto Bold'), local('Roboto-Bold'),
         url('fonts/roboto-v20-latin-700.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('fonts/roboto-v20-latin-700.woff2') format('woff2'), /* Super Modern Browsers */
         url('fonts/roboto-v20-latin-700.woff') format('woff'), /* Modern Browsers */
         url('fonts/roboto-v20-latin-700.ttf') format('truetype'), /* Safari, Android, iOS */
         url('fonts/roboto-v20-latin-700.svg#Roboto') format('svg'); /* Legacy iOS */
  }

  @font-face {
    font-family: 'Arvo';
    font-style: normal;
    font-weight: 400;
    src: url('fonts/arvo-v13-latin-regular.eot'); /* IE9 Compat Modes */
    src: local('Arvo'),
         url('fonts/arvo-v13-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('fonts/arvo-v13-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
         url('fonts/arvo-v13-latin-regular.woff') format('woff'), /* Modern Browsers */
         url('fonts/arvo-v13-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
         url('fonts/arvo-v13-latin-regular.svg#Arvo') format('svg'); /* Legacy iOS */
  }

  /* arvo-italic - latin */
@font-face {
    font-family: 'Arvo';
    font-style: italic;
    font-weight: 400;
    src: url('fonts/arvo-v13-latin-italic.eot'); /* IE9 Compat Modes */
    src: local('Arvo-Italic'),
         url('fonts/arvo-v13-latin-italic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('fonts/arvo-v13-latin-italic.woff2') format('woff2'), /* Super Modern Browsers */
         url('fonts/arvo-v13-latin-italic.woff') format('woff'), /* Modern Browsers */
         url('fonts/arvo-v13-latin-italic.ttf') format('truetype'), /* Safari, Android, iOS */
         url('fonts/arvo-v13-latin-italic.svg#Arvo') format('svg'); /* Legacy iOS */
  }
}
  